@media  screen and (max-width:900px)/*and (min-width:600px)*/ {

  #home_logoimg{
    width: 80px;
   height: 80px;
  }
  #home_logotext{
    font-size: 15px;
  }
  #home_imgdiv{
    background-image: none;
    border: none;
  }


  /* KeyFrames */
  @keyframes flutuante{
    0%,100%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(-20px);
    }
  }
}