@media  screen and (max-width:900px)/*and (min-width:600px)*/ {
  header{
    rotate: 90deg;
    z-index: 1000;
    position: fixed;
    right: -47%;
    top: 50%;
  }

  #home_logoimg{
    width: 80px;
   height: 80px;
  }
  #home_logotext{
    font-size: 15px;
  }
  


  /* KeyFrames */
  @keyframes flutuante{
    0%,100%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(-20px);
    }
  }
}