@media  screen and (max-width:900px)/*and (min-width:600px)*/ {

  /* HEADER */

  header{
    rotate: 90deg;
    z-index: 1000;
    position: fixed;
    right: -47%;
    top: 50%;
  }
  #lista_header a{
    background-image: linear-gradient(to right,var(--azul) 1px,var(--cinza_claro));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  /* HOME */

  #home_logoimg{
    width: 80px;
   height: 80px;
  }
  #home_logotext{
    font-size: 15px;
  }

  /* SOBRE MIM */
  
  


  /* KeyFrames */
  @keyframes flutuante{
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(-20px);
    }
  }
}